.channel-finder-container{
  padding: 20px;
}
.search-field{
  padding:20px;
}
.search-field #search-channel{
  padding:5px;
  font: 18px/18px Arial;
  color: #333;
  width: 300px;
  height: 40px;
}
.search-field .button{
  background-color: #fb4f14;
  font: 18px/18px Arial;
  border-radius: 5px;
  width: 120px;
  height: 40px;
  margin-left: 20px;
  text-transform: uppercase;
  color: #fff;
}
#view-all{
  margin-top: 20px;
}
#channel{
  padding:20px;
  font: 18px/18px Arial;
  color: #333;
}
.yui3-datatable-col-Country{
  padding: 4px;
}